.tableLayout1 {
	display: grid;
	grid-template-areas:
		'header header header header header header'
		'menu main main main main right'
		'footer footer footer footer footer footer';
	gap: 10px;
	background-color: white;
	padding: 10px;
}

.blindInfoDiv {
	display: grid;
	grid-template-areas: 'banner banner banner banner banner'
		'banner banner banner banner banner'
		'image image text text text'
		'image image chip count count'
		'image image chip count count';
}

.scoreGrid {
	display: "grid";
	grid-template-areas: 'total total total'
		'score score score'
		'chips x mult';
}

.insetBox {
	box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede;
	padding: 1px;
	box-sizing: border-box;
	margin: 4px 10px 10px 10px;
}

.infoDiv {
}