.menu-bar {
    display: block;
    background: #b9b9b9;
    color: black;
    padding-top: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.375rem;
    max-height: 19px;
    margin: 0;
    list-style: none;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}

.menuBarLine {
    content: '';
    width: 2px;
    height: 15px;
    position: relative;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 0 #818181;
    left: 0.25rem;
    top: 3px;
    display: block;
    float: left;

}

.textUnderline:before {
    width: 10px;
    background: black;
    content: '';
    height: 1px;
    position: absolute;
    margin-top: 20px;
}

.menuItem {
    padding-left: 0.5rem;
    display: block;
    position: relative;
    float: left;
}

.menu-bar div:not(:first-child) {
    margin-left: 10px;
}

.optionsDropDown {
    position: absolute;
    display: block;
    background: #b9b9b9;
    border: 5px solid black;
    padding-left: 0;
}

ul {
    list-style: none;
}

.dropDownItem {

}