.minesweeper-row {
    display: block;
}

.minesweeper-square {
    display: inline-flex;
    background: #c0c0c0;
    width: 1.25rem;
    height: 1.25rem;
    font-family: "Arial Black", sans-serif;
    /*box-sizing: border-box;*/
    font-size: 0.75rem;
    position: relative;
    color: black;
    line-height: 1rem;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin: 0 6px 0 0;
}

.indented-minesweeper-square {
    border: 2px dotted black;
    display: inline-flex;
    background: #c0c0c0;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.75rem;
    position: relative;
}

.first-minesweeper-square {

}

.minesweeper-grid {
    margin: 1rem;
    border: 3px inset;
    box-sizing: border-box;
    padding: 4px;
}

.colorBlue {
    color: blue;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}