.help-window {
    display: grid;
    grid-template-rows: 40px 1fr;
    width: 100%;
    min-width: 0;
    height: 100%;
}

.help-menu-buttons img + img{
    margin-left: 16px;
}

.hide-button {
    margin-left: 4px;
}

.help-bottom-half {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    min-height: 0;
}

.help-questions {
    background: white;
    width: 100%;
    height: 100%;
    float: left;
    border: 2px inset;
    padding: 0;
    position: relative;
    list-style: none;
    margin: 0;
    font-size: 1rem;
    top: 2px;
}

.selected-help-question {
    background: #000a7c;
    color: white;
}

.help-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 1rem;
    float: left;
    padding: 0 0.25rem 0 0
}

.help-questions > li {
    box-sizing: border-box;
    width: 100%;
    float: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    list-style-type: none;
}

.help-questions-list {
    padding-left: 0;
    margin: 0;
}

.help-questions-list > li {
    padding-left: 1rem;
}

.selected-question {
    padding: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    float: left;
    background: #000a7c;
    color: white;
    list-style-type: none;
}

.help-content {
    padding: 1rem;
    background: white;
    border: 2px inset;
    margin: 0rem 1rem 1rem 1rem;
    top: 1.65rem;
    overflow-y: auto;
    font-size: 1rem;
    font-family: sans-serif;
}

.help-content > p {
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    font-size: 1rem;
}

.help-content > h2 {
    margin-top: 0;
}